html, body {
         background:#FFFFEE;
         color:#800000;
		 font: 10pt Arial, sans-serif;
}
a {
  color: #0000FF;
  text-decoration: underline;
}
a:hover {
  color: #FF0000;
  text-decoration: underline;
}
img {
  border: 0;
}
.reflink a:hover {
  color: #800000;
}
.logo {
       clear:both;
        text-align:center;
        font-size: 250%;
        font-weight: bold;
        width:100%;
		cursor: pointer;
		line-height: 20px;
    margin-bottom: 5px;
}
.slogan {
  text-align: center;
  font-size: 130%;
  font-style: italic;
}
.theader {
        background:#E04000;
		color:#FFFFFF;
	    font-weight: bold;
        text-align:center;
        padding:2px;
        width:100%;
}
.postarea {
}
.postblock {
        background:#EEaa88;
		font-weight:bold;
		padding:0px 5px;
}
.postblock a {
        color: #800000;
		text-decoration: none;
}
.postblock a:hover {
        color: #800000;
		text-decoration: underline;
}
.footer {
        text-align:center;
        font-size:13px;
        font-family:serif;
}
.passvalid {
	background:#E04000;
	text-align:center;
	width:100%;
	color:#FFFFFF;
	font-weight: bold;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#EEEECC;
	color:#800000;
}
.row2 {
        background:#DDDDAA;
        color:#800000;
}
.unkfunc {
	background:inert;
	color:#789922;
}
.filename {
        padding-top: 2px;
}
.filesize {
	text-decoration:none;
	width:200px;
  margin-bottom: 5px;
  font-style: italic;
  font-size: 80%;
  padding-bottom: 2px;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#B20000;
	font-weight:bold;
}
.postername {
	color:#117743;
	font-weight:bold;
}
.postertrip {
	color:#228854;
}
.oldpost {
        color:#B20000;
        font-weight:bold;
}
.omittedposts {
        color:#707070;
}
.reply {
	background:#F0E0D6;
	border-right: 1px solid #D9BFB7;
    border-bottom: 1px solid #D9BFB7;
	padding-bottom: 10px;
}
.doubledash {
    color: #800000;
 	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
        color:#B20000;
        font-weight:bold;
}
.commentpostername {
        color:#117743;
	font-weight:bold;
}
.thumbnailmsg {
	font-size: small;
	color:#800000;
}
.abbrev {
  color:#707070;
}
.highlight {
	background:#F0E0D6;
	border:2px dashed #800000;
}
.thread_file {
  background:none repeat scroll 0 0 #EEaa88;
  float:left;
  margin:5px 20px 20px 5px;
  text-align:center;
  line-height: 13px;
}
.thread_file a {
        color: #800000;
		text-decoration: none;
}
.thread_file a:hover {
        color: #800000;
		text-decoration: underline;
}
.thread_head {
  font-size: small;
}
.thread_head_reply {
  border-bottom:1px solid #B0A99D;
}
.thread_body {
  font-size: normal;
  clear: right;
}
.sage {
  color: #FF0000;
  font-weight: bold;
  font-size: 100%;
}
.sageinfo {
  font-style: italic;
}
blockquote {
  margin-left: 25px;
}
.adminpost {
  color: #FF0000;
  font-weight: bold;
  font-size: 100%;
}
.spoiler {
  color: #000000;
  background-color: #000000;
}
.spoiler:hover {
  color: #ffffff;
}
.footer {
  text-align: center;
  font-size: 90%;

}