@font-face 
{
  font-family:'UnifrakturMaguntia';
  font-style:normal;
  font-weight:400;
  src:local(UnifrakturMaguntia), url(/css/fonts/unifraktur.woff) format(woff);
}

@font-face
{
  font-family:'DINPro-Regular';
  src:local(DINPro-Regular), url(/css/fonts/DINPro-Regular.woff) format(woff);
}

body
{
  background:#e8e5e5 url('/img/kaiserchan_bg.png') fixed;
  color:#000;
  font:10pt sans-serif;
  margin:0 0 auto;
  padding:8px;
/* KREEEBS
 *  text-shadow: 2px 0px 0px #333;
 */
}

*:focus
{
  outline: none;
}

.fraktur
{
  font-family:'UnifrakturMaguntia', serif;
}

a:link, a:visited
{
  color:#34345c;
  text-decoration:underline;
}

a:hover
{
  text-decoration: none;
}

a:active
{
  position: relative;
  top: 1px;
}

img
{
  border:0;
}

.boardnav_l
{
  float:left;
}

.hide
{
  vertical-align:middle;
  text-decoration:none;
  color:#000;
  cursor:default;
}

.boardnav_r
{
  float:right;
}

blockquote
{
  margin-left:25px;
}

.reflink a:hover
{
  text-decoration:underline;
}

.logo,.slogan
{
  color:#ffbc00;
  text-align:center;
  text-shadow: 1px 1px 0px #000000;
}

.logo
{
  font-size:300%;
  font-weight:700;
  width:100%;
  line-height:20px;
  margin-bottom:20px;
  margin-top:30px;
  clear:both;
  font-family:'DINPro-Regular', sans-serif;
}

.slogan
{
  font-size:150%;
  margin-bottom:.5em;
  margin-top:10px;
  font-style:italic;
  font-family:'Droid Serif', 'Georgia', serif;
}

.theader,.passvalid
{
  background:#000000;
  color:#ffbc00;
  font-weight:700;
  text-align:center;
  margin-top:5px;
  width:100%;
  padding:2px;
}

.postblock
{
  background:#000000;
  color:#ffbc00;
  font-weight:700;
  padding:0 5px;
}

.postblock a
{
  color:#ffbc00;
  text-decoration:none;
}

.postblock a:hover
{
  color:#ffbc00:;
  text-decoration:underline;
}

#postTableBody img:hover {
  cursor: pointer;
}

.dellist
{
  font-weight:700;
  text-align:center;
}

.delbuttons
{
  text-align:center;
  padding-bottom:4px;
}

.managehead
{
  background:#000000;
  color:#ffbc00;
  padding:0;
}

.postlists
{
  width:100%;
  padding:0;
}

.row1
{
  background:#DDD;
  color:#000;
}

.row2
{
  background:#BBB;
  color:#000;
}

.filename
{
  padding-top:2px;
}

.field4
{
  overflow:auto;
}

.filesize
{
  font-style:italic;
  font-size:80%;
  text-decoration:none;
  width:200px;
  margin-bottom:5px;
  padding-bottom:2px;
}

.postertrip
{
  color:#ffbc00;
  text-shadow: 1px 1px 0px #000000;
}

.reply
{
  background:#c9c9c9;
  border-right:1px solid #ababab;
  border-bottom:1px solid #ababab;
  padding-bottom:10px;
}

.reply_new
{
  background:#eeeeee;
  border-right:1px solid #c9c9c9;
  border-bottom:1px solid #c9c9c9;
  padding-bottom:10px;
}

blockquote blockquote.unkfunc
{
  color:#B55636;
  margin-bottom:-1em;
  margin-top:-1em;
}

blockquote blockquote.unkfunc + blockquote.unkfunc
{
  margin-top:1em;
}

.quote {
  color:#5b5e0a;
}

.omittedposts,.doubledash,.locked
{
  color:#707070;
  font-style:italic;
}

.doubledash
{
  vertical-align:top;
  clear:both;
  float:left;
}

.thumbnailmsg
{
  color:maroon;
  font-size:small;
}

.abbrev
{
  color:#707070;
}

.highlight
{
  background:#eeeeee;
  border:2px dashed #c9c9c9;
}

.thread_file
{
  background:#c9c9c9;
  text-align:center;
  border:1px solid #969696;
  float:left;
  padding-top:2px;
  line-height:13px;
  margin:5px 20px 20px 5px;
}

.reply .thread_file
{
  background:#ababab;
  border:0;
}

.thread_file a
{
  color:#000;
  text-decoration:none;
}

.thread_file a:hover
{
  color:#000;
  text-decoration:underline;
}

.thread_head_reply
{
  border-bottom:1px solid #B0A99D;
}

.thread_body
{
  font-size:100%;
  clear:right;
}

.adminpost
{
  color:#FF00B4;
  font-weight:bolder;
  text-shadow: 1px 1px 0px #000000;
}

.spoiler
{
  background:#000;
  color:#000;
  text-shadow:none;
}

.spoiler a
{
  color:#000;
}

.paginator td
{
  padding:0 2px;
}

.footer
{
  font-size:14px;
  text-align:center;
}

.footer strong:hover
{
  cursor:help;
}

.footer em
{
  font-size:9pt;
}

.sticky
{
  color:#0A0;
  font-weight:700;
  font-size:100%;
}

.loading
{
  color:#707070;
  font-style:italic;
  padding-left:30px;
}

blockquote blockquote
{
  margin-left:0;
}

.postarea
{
  text-align:center;
}

.postarea table
{
  text-align:left;
  margin:0 auto;
}

.thumb
{
  border:none;
  float:left;
}

.nothumb
{
  float:left;
  background:#eee;
  border:2px dashed #aaa;
  text-align:center;
  margin:2px 20px;
  padding:1em .5em;
}

.reflink a
{
  color:inherit;
  text-decoration:none;
}

.userdelete
{
  float:right;
  text-align:center;
  white-space:nowrap;
}

#menu
{
  position:absolute;
  left:0;
  top:0;
  border:0;
  height:100%;
  width:15%;
  margin:0;
  padding:0;
}

#main
{
  position:absolute;
  left:15%;
  top:0;
  border:0;
  height:100%;
  width:85%;
}

h1,h2
{
  background:#000000;
  color:#ffbc00;
  margin:0;
  padding:0 5px;
}

h1
{
  font-size:150%;
}

.thread_body h1
{
  font-size:100%;
}

h2
{
  font-size:115%;
  margin-top:1em;
}

ul
{
  list-style:none;
  padding-left:0;
  margin:0;
}

li
{
  margin:0;
}

/*
li a
{
  background:#D7CFC0;
  color:#000;
  display:block;
  text-decoration:none;
  width:100%;
}

li a:hover
{
  background:#B89879;
  color:#000;
}
*/


.banner
{
  margin:0 auto auto 0;
}

a:hover,.paginator a,.menu
{
  text-decoration:none;
}

.logo a,.logo a:hover
{
  color:#ffbc00;
  text-decoration:none;
}

.subject
{
  color:#ffbc00;
  font-size:13.5pt;
  font-weight:700;
  text-shadow: 1px 1px 0px #000000;
}

.postername,.commentpostername,.sage, .systemsage
{
  color:#FF9100;
  font-weight:700;
  text-shadow: 1px 1px 0px #000000;
}

.oldpost,.user_banned
{
  color:#ff0000;
  font-weight:700;
}

.reply blockquote,blockquote :last-child,blockquote blockquote.unkfunc:last-child,.reply_new blockquote,blockquote :last-child,blockquote blockquote.unkfunc:last-child,form
{
  margin-bottom:0;
}

.spoiler:hover,.spoiler a:hover
{
  color:#fff;
}

form .trap,.replypage .replylink
{
  display:none;
}

.ssl:hover {
  cursor: help;
}

input[type='text'], input[type='password'], textarea {
  background: #FFFFFF;
  font-family: monospace;
  border: 1px solid #999999;
  padding: 2px 5px 2px 5px;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out; 
  -moz-transition: all 0.25s ease-in-out;
}

input[type='text']:focus, input[type='password']:focus, textarea:focus {
  border:1px solid #ffbc00;
  box-shadow: 0 0 5px #ffbc00;
  -webkit-box-shadow: 0 0 5px #ffbc00;
  -moz-box-shadow: 0 0 5px #ffbc00;
}

input[type='submit']:hover {
  cursor: pointer;
}

ol , ul {
  list-style-position: inside;
  padding-left: 15px;
}