hr {
	border-top: 1px solid #00FF00;
}

::-webkit-input-placeholder {
	color: #00FF00;
}

::-moz-placeholder {
	color: #00FF00;
}

:-ms-input-placeholder {
	color: #00FF00;
}

body {
	background-color: #000000;
	color: #00FF00;
	font: normal 1em monospace;
}

a:link, a:visited, a:hover {
	color: #00FF00;
	text-decoration: none;
	border-bottom: 1px solid #00FF00;
}

a:hover {
	background-color: #00FF00;
	color: #000000;
}

ul.menu a, ul.menu_bottom a {
	background-color: #000000;
	color: #00FF00;
	border: 1px solid #00FF00;
	border-radius: none;
}

ul.menu a:hover, ul.menu_bottom a:hover {
	background-color: #00FF00;
	color: #000000;
}

.banner {
	background-image: linear-gradient(bottom, rgb(0,255,0) 0%, rgb(0,0,0) 100%);
	background-image: -o-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(0,0,0) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(0,0,0) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(0,0,0) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(0,255,0) 0%, rgb(0,0,0) 100%);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, rgb(0,255,0)),color-stop(1, rgb(0,0,0)));
	width: 300px;
	height: 100px;
	border: 1px solid #00FF00;
	margin: 0 auto;
}

.banner img {
	display: none;
}

.banner:after {
	content: 'Ernstchan';
	font: bold 3em monospace;
	text-shadow: 2px 2px 0px #000000;
}

.banner a:link, .banner a:hover {
	background-color: #000000;
	border: none;
}

.boardname, .caption, .subject, .postername, .omittedposts, .sage, .notice {
	color: #00FF00;
}

.postblock {
	background-color: #00FF00;
	color: #000000;
}

input[type='text'], input[type='password'], textarea {
	background-color: #000000;
	color: #00FF00;
	border: 1px solid #00FF00;
}

input[type='submit'] {
	background-color: #000000;
	color: #00FF00;
	font-family: monospace;
	border: 1px solid #00FF00;
}

input[type='submit']:hover {
	background-color: #00FF00;
	color: #000000;
}

.doubledash a {
	color: #00FF00 !important;
	border-bottom: none;
}

.doubledash a:hover {
	color: #000000 !important;
}

.post {
	background-color: #000000;
	border: 1px solid #00FF00;
}

.post_new {
	border: 1px dashed #00FF00;
}

.post.highlight, :target .post {
	background-color: #00FF00;
	color: #000000;
}

.post.highlight .file, :target .post .file {
	background-color: #000000;
}

.reflink a:hover {
	text-decoration: none;
}

:target .reflink a, :target .backreflink a, :target .text a {
	color: #000000;
	border-bottom: 1px solid #000000;
	text-decoration: none;
}

:target .reflink a:hover, :target .backreflink a:hover, :target .text a:hover {
	background-color: #000000;
	color: #00FF00;
}

:target .thread_head a {
	color: #00FF00;
	border-bottom: 1px solid #00FF00
}

:target .thread_head a:hover {
	background-color: #00FF00;
	color: #000000;
}

:target .postername {color: #000000;
}

:target .spoiler {
	background-color: #000000;
	color: #000000;
}

:target .spoiler:hover {
	color: #00FF00
}

:target .filedeleted {
	color: #00FF00;
}

:target blockquote.unkfunc, :target span.quote {
	color: #000000;
}

blockquote.unkfunc, span.quote {
	color: #00FF00;
}

.thread_head {
	background-color: #000000;
	border-top: 1px solid #00FF00;
	border-right: 1px solid #00FF00;
	border-left: 1px solid #00FF00;
}

.ssl img {
	display: none;
}

.ssl:after {
	content: 'SSL';
}

.backreflink del {
	color: #00FF00;
}

.sticky img {
	display: none;
}

.sticky:after {
	content: 'Angeheftet';
}

.locked img {
	display: none;
}

.locked:after {
	content: 'Geschlossen';
}

.file {
	background-color: #00FF00;
}

.filetype, .filedeleted {
	font: bold 2em monospace;
}

.spoiler {
	background-color: #00FF00;
	color: #00FF00;
}

.spoiler a {
	color: #000000;
}

.spoiler:hover, .spoiler a:hover {
	color: #000000;
}

.notice img {
	display: none;
}

.notice span {
	border: 1px dashed #00FF00;
}

ul.pagelist {
	background-color: #000000;
	border: 1px solid #00FF00;
}

.passvalid {
	background-color: #00FF00;
	color: #000000;
}

.row1 {
	background-color: #00FF00;
	color: #000000;
}

.row2 {
	background-color: #000000;
	color: #00FF00;
}

.title, .info th {
	background-color: #00FF00;
	color: #000000;
}

.info {
	border: 1px solid #00FF00;
}

.info td {
	border: 1px solid #00FF00;
}

.error {
	color: #00FF00;
}

footer img {
	display: none;
}
