/* Phutaba */

html, body {
  background: #F5F5FF;
  color: #000000;
  font: 9pt Verdana, sans-serif;
}

a {
  color: #0000CC;
  text-decoration: underline;
}

a:hover {
  color: #0000CC;
  text-decoration: none;
}

img {
  border: 0;
}

blockquote {
  margin-left: 25px;
}

.reflink a:hover {
  color: #000000;
  font-weight: bold;
}

.logo {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  width: 100%;
  clear: both;
  line-height: 20px;
  margin-bottom: 5px;
   cursor: pointer;
}

.slogan {
  text-align: center;
  font-size: 130%;
  font-style: italic;
}

.theader {
  background: #5555BB;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding: 2px;
  width: 100%;
}

.postarea {
}

.postblock {
  background: #5555BB;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0px 5px;
}

.postblock a {
  color: #FFFFFF;
  text-decoration: none;
}

.postblock a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer {
  font-size: 14px;
  font-family: serif;
  text-align: center;
}

.passvalid {
  background: #5555BB;
  color: #FFFFFF;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.dellist {
  font-weight: bold;
  text-align: center;
}

.delbuttons {
  text-align: center;
  padding-bottom: 4px;
}

.managehead {
  background: #AAAA66;
  color: #400000;
  padding: 0px;
}

.postlists {
  background: #FFFFFF;
  color: #800000;
  width: 100%;
  padding: 0px;
}

.row1 {
  background: #EEEECC;
  color: #800000;
}

.row2 {
  background: #DDDDAA;
  color: #800000;
}

.unkfunc {
  background: inert;
  color: #6161C9;
}

.filename {
  padding-top: 2px;
}

.filesize {
  font-style: italic;
  font-size: 80%;
  text-decoration: none;
  width: 200px;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.filetitle {
  background: inherit;
  color: #A84343;
  font-size: 1.2em;
  font-weight: bold;
}

.postername {
  color: #5555BB;
  font-weight: bold;
}

.postertrip {
  color: #228854;
}

.oldpost {
  color: #A84343;
  font-weight: bold;
}

.omittedposts {
  color: #707070;
}

.reply {
  background: #D6DAF0;
  border-right: 1px solid #9FA5C7;
  border-bottom: 1px solid #9FA5C7;
  padding-bottom: 10px;
}

.doubledash {
  color: #333333;
  vertical-align: top;
  clear: both;
  float: left;
}

.replytitle {
  font-size: 1.2em;
  color: #A84343;
  font-weight: bold;
}

.commentpostername {
  color: #5555BB;
  font-weight: bold;
}

.thumbnailmsg {
  color: #800000;
  font-size: small;
}

.abbrev {
  color: #707070;
}

.highlight {
  background: #E5E5F5;
  border: 2px dashed #BBBBDD;
}

.thread_file {
  background: none repeat scroll 0 0 #CCCCCC;
  float: left;
  margin: 5px 20px 20px 5px;
  text-align: center;
  line-height: 13px;
}

.reply .thread_file {
  background: none repeat scroll 0 0 #B8BEDE;
  float: left;
  margin: 5px 20px 20px 5px;
  text-align: center;
  line-height: 13px;
}

.thread_file a {
  color: #000000;
  text-decoration: none;
}
.thread_file a:hover {
  color: #000000;
  text-decoration: underline;
}

.thread_head {
  font-size: small;
}

.thread_head_reply {
  border-bottom: 1px solid #B0A99D;
}

.thread_body {
  font-size: normal;
  clear: right;
}

.sage, .adminpost {
  color: #FF0000;
  font-weight: bold;
  font-size: 100%;
}

.sageinfo {
  font-style: italic;
}

.spoiler {
  color: #000000;
  background-color: #000000;
}

.spoiler:hover {
  color: #ffffff;
}
