
ErrorDocument 502 /errors/50x.shtml
ErrorDocument 503 /errors/50x.shtml
ErrorDocument 504 /errors/50x.shtml

ErrorDocument 500 /errors/50x.shtml
ErrorDocument 403 /errors/403.shtml
ErrorDocument 404 /errors/404.shtml


# Enable Rewrite Engine
RewriteEngine on
RewriteBase /

RewriteRule ^([A-Za-z]+)$ index.pl?p=$1 [L,NS,DPI]

RewriteRule ^([^/]+)/src/([^/]+)/([^/]+)$ $1/src/$2 [L,NS,DPI]
RewriteRule ^([^/]+)/seite/(\d+)$ $1/wakaba.pl?task=show&page=$2 [L]
RewriteRule ^([^/]+)/page/(\d+)$ $1/wakaba.pl?task=show&page=$2 [L]
RewriteRule ^([^/]+)/faden/(\d*)$ $1/wakaba.pl?task=show&thread=$2 [L]
RewriteRule ^([^/]+)/thread/(\d*)$ $1/wakaba.pl?task=show&thread=$2 [L]
RewriteRule ^([^/]+)/$ $1/wakaba.pl [L]

RewriteRule ^banner/([^/]+)$ banner-redir.pl?board=$1 [L]
