body{background:#ffe;color:maroon}
a:link,a:visited,a:hover{color:#00e}
.reflink a,.filename a{color:inherit}
.filetype a,.togglethread a{color:maroon}
ul.menu a,ul.menu_bottom a{background-color:#F0E0D6;border-color:#D8C9C0}
ul.pagelist{background-color:#F0E0D6;border-right:1px solid #D8C9C0;border-bottom:1px solid #D8C9C0}
ul.menu_bottom li a,ul.menu li a{border-color:#D8C9C0;background-color:#F0E0D6;color:maroon}
.boardname,.caption{color:maroon}
.postblock{background-color:#ea8;color:maroon}
.boardname a,boardname a:hover{color:maroon;text-decoration:underline}
dl.menu a{color:maroon}
input[type='text'],input[type='password'],textarea{border:1px solid #D8C9C0}
.post{background-color:#F0E0D6;border-right:1px solid #DDCCC5;border-bottom:1px solid #DDCCC5}
.post_new{border-right:1px solid #944900;border-bottom:1px solid #944900}
.context > div,#preview{background-color:#ffe}
.highlight .post,:target .post{background-color:#F0DBCD}
.highlight .post .file,:target .post .file{background-color:#E4CCBE}
:target .filedeleted{color:maroon}
.thread_head{background-color:#DDCCC5}
.subject{color:#CC1105}
.postername{color:#117743}
.backreflink del{color:#34345C}
.file{background-color:#d8c9c0}
.filedeleted{color:maroon}
.spoiler,.spoiler a{background:#F0D0B6;color:#F0D0B6}
.spoiler:hover{background:#F0D0B6;color:maroon}
.spoiler a:hover{color:#00e}
blockquote.unkfunc,span.unkfunc,span.quote,span.math{color:#789922}
.notice span{border-right:1px solid #944900;border-bottom:1px solid #944900}
.passvalid{background-color:#ea8;color:#fff}
.managehead{background:#AA6;color:#400000;padding:0}
.row1{background:#EEC;color:maroon}
.row2{background:#DDA;color:maroon}
.title,.info th{background-color:#DDCCC5;color:maroon}
.info{background-color:#F0E0D6;border-color:#DDCCC5}
.info td{border:1px solid #DDCCC5}
dl.menu{margin:.5em}
dl.menu dt{background:#F0E0D6;border:solid 1px #DDCCC5;margin-top:1em;padding-left:.5em;cursor:pointer}
dl.menu dd{margin-left:.5em;padding-left:.5em;border-left:solid 1px #DDCCC5}