hr{border-top:1px solid #333}
body{background:#e8e5e5 url(/img/kaiserchan_bg.png) fixed}
a:link,a:visited,a:hover{color:#34345C}
ul.menu a,ul.menu_bottom a{background-color:#C9C9C9;border-color:#333}
.boardname,.caption{color:#000}
.postblock{background-color:#333;color:#FFBC00}
input[type='text'],input[type='password'],textarea{border:1px solid #333}
.post{background-color:#C9C9C9;border-right:1px solid #ABABAB;border-bottom:1px solid #ABABAB}
.post_new{border-right:1px solid #944900;border-bottom:1px solid #944900}
.post.highlight,:target .post{background-color:#ABABAB}
.post.highlight .file,:target .post .file{background-color:#C9C9C9}
:target .filedeleted{color:#ABABAB}
.thread_head{background-color:#ABABAB}
.subject{color:#944900}
.postername{color:#C60}
.backreflink del{color:#34345C}
.file{background-color:#ABABAB}
.filedeleted{color:#C9C9C9}
blockquote.unkfunc,span.quote,span.math{color:#6B6D21}
.spoiler a{color:#ABA290}
.notice span{border-right:1px solid #944900;border-bottom:1px solid #944900}
ul.pagelist{background-color:#C9C9C9;border-right:1px solid #ABABAB;border-bottom:1px solid #ABABAB}
.passvalid{background-color:#333;color:#FFF}
.managehead{background-color:#333;color:#FFF}
.row1{background-color:#C9C9C9}
.row2{background-color:#ABABAB}
.title,.info th{background-color:#333;color:#FFF}
.info{background-color:#C9C9C9;border-right:1px solid #ABABAB;border-bottom:1px solid #ABABAB;border-left:1px solid #ABABAB}
.info td{border:1px solid #333}