/* media query */
@media only screen and (max-width: 480px) {

.desktop {
	display: none;
}

.mobile {
	display: inline!important;
}

.postarea td {
	width: 95%;
	float: left;
}

.postarea textarea {
	width: 100%;
}

.thread_reply .post {
	margin-left: 0em!important;
}

.post {
	word-wrap: break-word;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

ul.right { float: none !important; /* clear: both */ }
ul.menu li a, ul.menu_bottom li a { border-radius: 0.5em; margin: 2px 0px 1px }
ul.menu, ul.menu_bottom { padding: 0.2em }
ul.pagelist { margin: 0px 1em 3px 0px !important }

}

/* default styles */
/*html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
 em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, 
 fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td */
html, body, ul, ol, p, pre, table, td, img {
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

*:focus {
	outline: 0;
}

body {
	background-color: #ECE9E2;
	color: #000000;
	font: normal 0.8em sans-serif;
}

strong, b, .boardname, .caption, .subject, .postblock, .postername, .teampost, .sage, .ban, .user_banned, .title, .info th, .dellist {
	font-weight: bold;
}

em, i, .omittedposts, .notice {
	font-style: italic;
}

hr {
	border: none;
	border-top: 1px solid #706B5E;
	margin: 1em 0 1em 0;
	clear: both;
}

code, pre {
	font: normal 10pt monospace;
}

pre {
    white-space: pre-wrap;
   	overflow-x: auto;
}

ul {
	list-style-type: square;
}

sup { vertical-align: super; font-size: smaller; }
sub { vertical-align: sub; font-size: smaller; }

td, th {
	display: table-cell;
	vertical-align: middle;
}

table[align="center"] {
	margin: 0 auto;
}

a:link, a:visited, a:hover {
	color: #702802;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:active {
	position: relative;
	top: 1px;
}

.dellist { text-align: center }

.content {
	margin: 0 1em;
}

/* top and bottom navigation menus */
ul.menu, ul.menu_bottom {
	margin-left: 0;
}

ul.right {
	float: right;
	margin-right: 0;
}

ul.menu li, ul.menu_bottom li, ul.pagelist li {
	display: inline;
}

ul.menu li a, ul.menu_bottom li a {
	background-color: #D7CFC0;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5em;
	margin-right: 0.5em;
	float: left;
}

ul.menu li a {
	border-right: 1px solid #706B6E;
	border-bottom: 1px solid #706B5E;
	border-left: 1px solid #706B5E;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

ul.menu_bottom li a {
	border-top: 1px solid #706B5E;
	border-right: 1px solid #706B6E;
	border-left: 1px solid #706B5E;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
}

ul.menu li a:hover, ul.menu_bottom li a:hover {
	box-shadow: 1px 1px 2px #999999;
}

ul.menu li a:active, ul.menu_bottom li a:active {
	top: 0;
}
/* navigation menus END */

.boardname, .caption {
	color: #333333;
	font-size: 2em;
	margin-top: 0.5em;
}

.banner {
	padding-top: 1em;
	clear: both;
}

.banner img {
	width: 300px;
	height: 100px;
}

.header {
	text-align: center;
}

.teampost img, .sticky img, .locked img {
	width: 16px; 
	height: 16px; 
}

.postarea {
	text-align: center;
}

.postarea table {
	text-align: left;
	margin: 0 auto;
	border-spacing: 0.25em;
}

.postarea img:hover {
	cursor: pointer;
}

.postblock {
	background-color: #706B5E;
	color: #FFFFFF;
	padding: 0.5em;
}

.postarea input[type='checkbox'], .postarea input[type='radio'] {
	margin: 5px;
}

.postarea input#name, .postarea input#subject {
	width: 20em;
}

input[type='text'], input[type='password'], textarea {
	background-color: #FFFFFF;
	font-family: monospace;
	border: 1px solid #706B5E;
	padding: 0.25em;
}

input[type='submit']:hover {
	cursor: pointer;
}

.trap, .hidden, .mobile {
	display: none;
}

ul.rules {
	margin-top: 1em;
	margin-left: 1.6em;
}

.doubledash {
	float: left;
	margin-top: 0.5em;
}

.doubledash a:link, .doubledash a:visited {
	color: #707070;
	text-decoration: none;
}

.doubledash a:hover {
	color: #000000;
}

.thread {
	overflow: hidden;
}

.thread_reply {
	float: left;
	clear: both;
	margin: 0.5em 0;
	margin-left: 0;
}
.thread_reply + .thread_reply {
	margin-top: 0;
}

.post {
	background-color: #D7CFC0;
	border-right: 1px solid #BFB5A1;
	margin-left: 2em;
	border-bottom: 1px solid #BFB5A1;
	overflow: hidden;
}

.thread_OP .post {
	margin-left: 0;
}

.post_new {
	border-right: 1px solid #B20000;
	border-bottom: 1px solid #B20000;
}

:target .filedeleted {
	color: #BFB5A1;
}

.thread_head {
	clear: left;
	background-color: #BFB5A1;
	padding: 5px;
}

.reflink a, .filename a, .filetype a, .togglethread a {
	color: #000000;
	text-decoration: none;
}

.reflink a:hover, .filename a:hover, .filetype a:hover {
	text-decoration: underline;
}

.post_head {
	padding: 0.4em 0.4em 0.1em 0.4em;
}

.subject {
	color: #B20000;
	font-size: 1.2em;
}

.postername {
	color: #635537;
}

.postername .tripcode {
	font-weight: normal;
}

.teampost {
	color: #A000CC;
}

.backreflink del {
	color: #702802;
}

.sage {
	color: #B20000;
}

.post_body {
	padding: 1.2em 0 0 1.2em;
	/*float: left*/;
}

.files {
	float: left;
}

.file {
	background-color: #BFB5A1;
	text-align: center;
	margin: 0 1.2em 1.2em 0;
	float: left;
	display: block;
	vertical-align: top;
}

.filesize {
	font-size: 0.85em;
}

.filelink {
	line-height: 0;
	position: relative;
}

.filelink a:active {
	top: 0;
}

.filetype, .filedeleted {
	font: bold 2em sans-serif;
	width: 200px;
	padding: 0.5em 0 0.5em 0;
}

.filebg {
	background-image: url("/img/erna-klein.png");
	background-position: bottom left;
	background-repeat: no-repeat;
}

.filedeleted {
	color: #D7CFC0;
}

.text {
	margin: 0 2em 1.2em 1.2em;
	word-wrap: break-word;
}

.text ul li, .text ol li {
	list-style-position: inside;
}

blockquote.unkfunc, span.unkfunc, span.quote, span.math {
	color: #B55636;
	margin: 0;
}

.spoiler {
	background-color: #ABA290; /* #000 */
	color: #ABA290;
	text-shadow:none;
}

.spoiler a {
	color: #ABA290;
}

.spoiler:hover, .spoiler a:hover {
	color: #000;
}

.spoiler img { opacity: 0; filter: alpha(opacity=0) }
.spoiler img:hover { opacity: 1.0; filter: alpha(opacity=100) }

span.strike { text-decoration: line-through; }
span.underline { text-decoration: underline; }

.red-nya, .redtext { 
	color: #e50000;
	border-bottom: 1px dashed #000;
	/*line-height: 1.5;*/
}

.ban, .tldr, .user_banned {
	margin-top: 1em;
}

.ban, .user_banned {
	color: #B20000;
	text-transform: uppercase;
}

.omittedposts, .notice {
	color: #707070;
	margin-left: 2em;
}

.omittedposts {
	margin-top: 0.5em;
	clear: both;
}

.notice img {
	vertical-align: middle;
}

.notice span {
	padding: 0 0.5em;
	border-right: 1px solid #B20000;
	border-bottom: 1px solid #B20000;
}

.togglethread a:hover, .togglethread img:hover {
	cursor: pointer;
}

ul.pagelist {
	background-color: #D7CFC0;
	border-right: 1px solid #BFB5A1;
	border-bottom: 1px solid #BFB5A1;
	padding: 0.5em;
	margin: 0 1em 0 0;
	float: left;
}

.delete {
	float: right;
}

input[type='password'] {
	width: 8em;
}

.managehead th, .row1 td, .row2 td {
	padding: 5px;
}

.managehead {
	background-color: #706B5E;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
}

.passvalid {
	background-color: #706B5E;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin: 5px 0;
}

.row1 {
	background-color: #D7CFC0;
}

.row2 {
	background-color: #BFB5A1;
}

/* for static templates in tpl/ */
.title, .info th {
	background-color: #706B5E;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
}

.info {
	background-color: #D7CFC0;
	border-right: 1px solid #BFB5A1;
	border-bottom: 1px solid #BFB5A1;
	border-left: 1px solid #BFB5A1;
	padding: 1em;
	margin: 0 0 0.5em 0;
}

.info table {
	margin-top: 1em;
}

.info td {
	text-align: center;
	border: 1px solid #706B5E;
	padding: 5px;
}
/* end static templates */

.error {
	color: #B20000;
	font-size: 2em;
	text-align: center;
}

.expireshelp {
	border-bottom:1px dashed;
	cursor: help;
}

footer {
	text-align: center;
	padding: 1em 0 1em 0;
	clear: both;
}

footer img {
	vertical-align: middle;
}

/* stuff for context.js */
#message {
	border-color: #666;
	border-radius: 5px 5px 5px 5px;
	margin: 0;
	padding: 20px;
	position: fixed;
	text-align: center;
	top: 50px;
	width: 40%;
	z-index: 400;
	-webkit-box-shadow: #666 0px 0px 10px;
}
#overlay, .overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .5);
	z-index: 1; 
}
#overlay::after {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.pidarok_refmap {
	font-style:italic;
	font-size:11px;
	margin-top:16px;
}
.post_preview {
    z-index: 300;
    position: absolute;
    border: dashed 1px #666;
}
.post_preview .post {
	margin-left:0;
	border: none;
}
.post_preview .doubledash {
	display: none;
}
#postform2 {
	clear:both;
}
#settings {
	background: #D7CFC0;
	display: inline-block;
	box-sizing: border-box;
	padding-bottom: 5px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	width: 320px;
	height: auto;
	border: 1px solid rgba(0, 0, 0, .25); border-left: none; border-top: none; padding: 5px;
	border-color: #BFB5A1;
}
.settingsTitle {
	font-weight: bold;
}
#updater {
	display: none;
}

/* TODO integrate colours into specific stylesheets */
.highlight .post, :target .post {
	background-color: #BFB5A1;
}

.highlight .post .file, :target .post .file {
	background-color: #D7CFC0;
}

/* webm */
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
a.close-webm {
	position:absolute;
	top:-15px;
	right:10px;
}
a.close-webm:active {
	top:-14px;
}
.filelink img, .filelink video {
  max-width: 100%;
}
.filelink video, .post_preview img[src*="/src/"] {
  width: 100%;
  height: auto;
}

/* frame */
dl.menu dt {
	background: #D7CFC0;
	border: solid 1px #BFB5A1;
	border-radius: 5px;
	margin-top: 1em;
	padding-left: .5em;
	cursor: pointer;
	text-align: left;
}
dl.menu dd {
	margin-left: .5em;
	padding-left: .5em;
	border-left: solid 1px #BFB5A1;
}
dl.menu dd.hidden {
	display: none;
}

/* Dollchan Extension Tools */
/* Will remove this later */
.de-pview .post { margin-left:0; border:none }
#de-pform img[src^="/img/icons/expand.png"] { display: none }
#de-win-reply { float:left; margin-left:2em }
.de-mp3, .de-video-obj { clear: both }
.de-alert-msg, .de-popup-msg { white-space: nowrap !important }
.de-alert-msg > div, .de-popup-msg > div { white-space: pre-wrap; word-wrap: break-word }

/* custom */
.greeting { text-align: center; font-weight: bold }
.greeting img { max-height: 500px }
.tracking img { width: 0px }