use constant ADMIN_PASS => '';			# Admin password. For fucks's sake, change this.
use constant SECRET => '';				# Cryptographic secret. CHANGE THIS to something totally random, and long.
use constant SQL_DBI_SOURCE => 'DBI:mysql:database=xxxxx;host=localhost'; # DBI data source string (mysql version, put server and database name in here)
use constant SQL_USERNAME => '';		# MySQL login name
use constant SQL_PASSWORD => '';		# MySQL password
use constant DEFAULT_BOARD => 'board';	# default board to redirect to from /
use constant ABUSE_EMAIL => '';			# Abuse contact e-mail address. Shown in the footer of all pages.
use constant BASE_URL => ""; # main url, WITHOUT trailing slash

use constant FILEGROUPS => (
	image => 'Bilder',
	video => 'Videos',
	archive => 'Archive',
	audio => 'Audio',
	doc => 'Dokumente',
	other => 'Sonstige',
);

use constant GROUPORDER => 'image video archive audio doc other'; # other has to be last

use constant CAPTCHA_MODE => 2;
use constant CAPTCHA_SKIP = 'DE NO CH AT LI BE LU DK NL';

use constant TRACKING_CODE => qq();			# Paste the js/html of a visitor tracking software between ()

1;
