# Config
# package Config;
use utf8;

# System config
my ( %settings, %boards, %moders ); # hash
use constant ADMIN_PASS => 'SAMPLEPSAA';			# Admin password. For fucks's sake, change this.
use constant SECRET => 'SALTSALTSALT';				# Cryptographic secret. CHANGE THIS to something totally random, and long.
use constant SQL_DBI_SOURCE => 'DBI:mysql:database=sampledb;host=127.0.0.1'; # DBI data source string (mysql version, put server and database name in here)
use constant SQL_USERNAME => 'sampleuser';		# MySQL login name
use constant SQL_PASSWORD => 'samplepass';		# MySQL password
use constant DEFAULT_BOARD => 'b';	# default board to redirect to from /
use constant USE_PARSEDATE => 0;
use constant USE_TEMPFILES => 1;				# Set this to 1 under Unix and 0 under Windows! (Use tempfiles when creating pages)
use constant TRACKING_CODE => q{<!-- some tracking code -->};

use constant CHARSET => 'utf-8';				# Character set to use, typically 'utf-8' or 'shift_jis'. Disable charset handling by setting to ''. Remember to set Apache to use the same character set for .html files! (AddCharset shift_jis html)
use constant CONVERT_CHARSETS => 1;			# Do character set conversions internally

# use constant ERRORLOG => '';					# Writes out all errors seen by user, mainly useful for debugging

1;