<div align="center">
	<div class="greeting">
		<iframe width="560" height="315" src="//www.youtube.com/embed/yyGLmxNUBdg"></iframe>
	</div>
	<hr />
	<div class="greeting">
		<img alt="" src="/img/1390978469821.jpg" />
	</div>
</div>
