[% META
   title   = 'News'
%]
 <div class="caption">News</div>
[% FOREACH news %]
  <div class="item">
   <div class="title">
    [% title %] <a id="[% id %]" href="#[% id %]"><span class="info">Admin &ndash; [% date %]</span></a>
   </div>
   <div class="content">
    [% content %]
   </div>
  </div>
[% END %]
  
 </div>