<!DOCTYPE html> 
<html lang="de"> 

<head>
	<title>Ernstchan [% IF template.title %]&raquo; [% template.title %][% END %]</title>
	<!--meta charset="utf-8" /-->
	<link rel="stylesheet" type="text/css" href="/css/phutaba.css" />
	<link rel="shortcut icon" href="/img/favicon.ico" />
	<link rel="apple-touch-icon-precomposed" href="/img/favicon-152.png" />
	<meta name="msapplication-TileImage" content="/img/favicon-144.png" />
	<meta name="msapplication-TileColor" content="#ECE9E2" />
	<meta name="msapplication-navbutton-color" content="#BFB5A1" />
</head>

<body>
<div class="content">

<nav>
	<ul class="menu">
[% INCLUDE nav_boards.html %]
	</ul>

	<ul class="menu right">
[% INCLUDE nav_pages.html %]
	</ul>
</nav>

<header>
	<div class="header">
		<div class="banner"><a href="/"><img src="/banner.pl" alt="Ernstchan" /></a></div>
		<div class="boardname">[% template.title %]</div>
	</div>
</header>

<hr />
